table tr{
    text-align: center;
}
.form-group{
    margin-top: 1rem;
    display: inline-block;
}
.form-group input{
    width: 200px;
    display: inline-block;
}
.modal-body table td{
    padding: 5px 0;
}
.modal-body table tr td:nth-child(1){
    padding-left: 50px;
}
.modal-body table input{
    margin-left: 60px;
}